<div class="page-header">
  <h1 class="title">Operadores Registrados</h1>
</div>

<div *ngIf="!loading">
<div class="table-container">
  <table mat-table [dataSource]="operators" class="operators-table mat-elevation-z2">
    <!-- Columna Nombre -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let operator" class="operator-name">{{ operator.name }}</td>
    </ng-container>

    <!-- Columna Apellido -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Apellido</th>
      <td mat-cell *matCellDef="let operator">{{ operator.lastName }}</td>
    </ng-container>

    <!-- Columna Correo -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let operator">{{ operator.email }}</td>
    </ng-container>

    <!-- Columna Teléfono -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Teléfono</th>
      <td mat-cell *matCellDef="let operator">{{ operator.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Activo</th>
      <td mat-cell *matCellDef="let operator">
        <mat-icon 
          [class.active-icon]="operator.isActive" 
          [class.inactive-icon]="!operator.isActive"
        >
          {{ operator.isActive ? 'check_circle' : 'cancel' }}
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-data" [attr.colspan]="columns.length">
        No se encontraron registros
      </td>
    </tr>
  </table>
</div>
</div>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>